.add-button{
    position: absolute;
    top: 60px;
    right: 60px;
}

.table{
    position: absolute;
    right: 20px;
    top: 150px;
    left: 30px;

}

.table .ttext{
    font-size: 20px;
    text-align: center;
}